<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Assignment3.Properties.Settings.ConnectionString"
            connectionString="Data Source=10.113.181.51;Initial Catalog=std\12002076;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>